<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="styles.css">
</head>

<canvas class="mount-point"></canvas>

<div class="console-wrapper">
  <h2 class="console-title">Console:</h2>
  <ul class="console-list js-console"></ul>
</div>